html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

form {
    text-align-last: center;
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    align-items: center;
    border: 1px solid black;
}

form div{
    margin: 0.2rem;
    padding: 0.1rem 1rem;
    display: flex;
    align-items: center;
    align-self: baseline;
}

form div * {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

#parentDiv div{
    flex-direction: column;
}

#etcDiv {
    flex-direction: column;
}

#etcDiv div * {
    padding-left: 0.3rem;
    padding-right: 0.3rem;

}

#etcDiv label {
    order: 2;
}

#etcDiv input {
    order: 3;
}

#etcDiv input[type="checkbox"] {
    order: 1;
}